@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  @apply bg-black;
}

body::-webkit-scrollbar-thumb {
  @apply bg-zinc-800;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

::selection {
  @apply bg-teal-400 text-black;
}

body {
  @apply bg-black text-white;
}
